{{> header}}
{{> meta}}
<body>
    {{#sec:hasRole('ADMIN')}}<li>ADMIN CONTENT</li>{{/sec:hasRole('ADMIN')}}
    {{#sec:hasRole('USER')}}<li>USER CONTENT</li>{{/sec:hasRole('USER')}}
    {{#_csrf}}{{/_csrf}}
</body>
{{> footer}}
