<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Spring Security Example </title>
</head>

<body>
    <h2>
        Login page
    </h2>
    <div class="container">
        <div class="row">
            <form action="/login" method="post">
                <div class="col-12 auth_input"><label> User Name : <input type="text" name="username" /> </label></div>
                <div class="col-12 auth_input"><label> Password: <input type="password" name="password" /> </label></div>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <div class="col-12 auth_input"><input type="submit" value="Sign In" /></div>
            </form>
        </div>
    </div>
    <a href="/registration">Add new user</a>
</body>

</html>