<!DOCTYPE html>
{{>header}}

<body>
    <h2 class="title">
        Авторизация
    </h2>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3 ">
            <form action="/login" method="post">
                <div class="col-12 auth_input"><input type="text" name="username" placeholder="E-mail или логин"/> 
                <input type="password" name="password" placeholder="Пароль"/> 
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <input type="submit" value="Войти" />
                <div class="col-12 auth_input btn_reg"><a type="text" href="/registration">Регистрация</a></div>
            </form>
            </div>
        </div>
    </div>
    
</body>
