{{> header}}

  {{#user}}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="title">Личный кабинет</h2>
        <form action="" method="POST">
          <div class="row">
          <div class="col-6">
            <div class="form_field">Имя пользователя: <input class="form_input" type="text" id="username"
                name="username" value="{{username}}" required></div>
            <div class="form_field">Пароль: <input class="form_input" type="text" id="password" name="password"
                value="{{password}}" required></div>
            <div class="form_field">E-mail: <input class="form_input" type="text" id="email" name="email"
                value="{{#email}}{{email}}{{/email}}" required></div>
            <div class="form_field">Телефон: <input class="form_input" type="text" id="phone" name="phone"
                value="{{#phone}}{{phone}}{{/phone}}" required></div>
            <div class="form_field">Пол: <input class="form_input" type="text" id="gender" name="gender"
                value="{{#gender}}{{gender}}{{/gender}}" required>
            </div>
          </div>
          <div class="col-6">
            <div class="form_field">Возраст: <input class="form_input" type="text" id="age" name="age" value="{{age}}"
                required></div>
            <div class="form_field">Образование: <select class="form_input" id="idLevelOfEducation"
                name="idLevelOfEducation" required>{{#levelOfEducation}}
                <option>{{levelOfEducation}}</option>{{/levelOfEducation}}
              </select></div>
            <div class="form_field">Язык: <select class="form_input" type="text" id="idFieldOfActivity"
                name="idFieldOfActivity" required>{{#languageProficiency}}<option>{{languageProficiency}}</option>
                {{/languageProficiency}}</select>
              </select></div>
            <div class="form_field">Сфера деятельности: <select class="form_input" class="form_input" type="text"
                id="idLanguageProficiency" name="idLanguageProficiency" required>{{#fieldOfActivity}}<option>
                  {{fieldOfActivity}}</option>{{/fieldOfActivity}}</select></select>
            </div>
          </div>
        </div>
        <div class="col-4 offset-4"><input type="submit" value="Сохранить" /></div>
        </form>
      </div>
    </div>
  </div>
  {{/user}}

  {{> footer}}