{{> header}}
<div>
    <form method="POST" action="/registration" name="userForm">
        {{#user}}{{user}}{{/user}}
      <h2>Регистрация</h2>
      <div>
        <input type="text" path="name" placeholder="Username" name="name"
                    autofocus="true"></input>
      </div>
      <div>
        <input type="password" path="password" placeholder="Password" name="password"></input>
        {{#passwordError}}{{passwordError}}{{/passwordError}}
      </div>
      <div>
        <input type="password" path="passwordConfirm" name="passwordConfirm"
                    placeholder="Confirm your password"></input>
                    {{#usernameError}}{{usernameError}}{{/usernameError}}
      </div>
      <button type="submit">Зарегистрироваться</button>
    </form>
    <a href="/">Главная</a>
  </div>