{{> header}}
<form action="{{#add}}/dictionaryList/add{{/add}}{{^add}}/dictionaryList/{{dictionary.id}}/edit{{/add}}" name="dictionary" method="POST">
    <table border="0">
        {{#dictionaries.id}}
            <tr>
                <td>ID</td>
                <td>:</td>
                <td>{{dictionaries.id}}</td>
            </tr>
        {{/dictionaries.id}}
        <tr>
            <td>Название темы</td>
            <td>:</td>
             <td><input type="text" name="theme" value="{{#dictionaries.dictionaryName}}{{dictionaries.dictionaryName}}{{/dictionaries.dictionaryName}}" /></td>
        </tr>
    </table>
    <input type="submit" value="{{#add}}Создать{{/add}}{{^add}}Изменить{{/add}}" />
</form>