{{> header}}
<table border="1">
        <tr>
            <th>Id</th>
            <th>Уровень</th>
        </tr>
        {{#themesInDictionaries}}
            <tr>
                <td><a href="/dictionary/{{idDictionary}}">{{idDictionary}}</a></td>
                <td><a href="/dictionary/{{idDictionary}}">{{difficultyLevel}}</a></td>
                <td><a href="/dictionary/{{idDictionary}}/edit">Edit</a></td>
            </tr>
        {{/themesInDictionaries}}
        <div>
    <nobr>
        <a href="/themesInDictionaries/{{idDictionary}}/add">Добавить тему</a> |
        <a href="/">Back to Index</a>
    </nobr>
</div>
    </table>
{{> footer}}